<li class="comment pe-4 mb-3", id="comment-<%= comment.id %>">
  <div class="comment_sentence py-2 px-4">
    <%= safe_join(comment.sentence.split("\n"), tag(:br)) %>
  </div>
  <div class="like_unlike_button text-end">
    <% if comment.post_by(current_ip) %>
      <%= link_to '削除', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' }, id: 'comment_delete_button', remote: true %> / 
    <% end %>
    <% if comment.liked_by(current_ip) %>
      <%= render 'likes/unlike', comment: comment, current_ip: current_ip %>
    <% else %>
      <%= render 'likes/like', comment: comment %>
    <% end %>
    <i id="js-like-count-for-comment-<%= comment.id %>"><%= comment.likes.count %>件</i>
  </div>
</li>
