<li class="comment pe-4 mb-3", id="comment-<%= comment.id %>">
  <div class="comment_sentence py-2 px-4">
    <%= safe_join(comment.sentence.split("\n"), tag(:br)) %>
  </div>
  <div class="delete_or_likes text-end">
    <% if current_user&.own?(comment) %>
      <%= link_to '削除', comment_path(comment, 'bug_id': comment.bug_id), method: :delete, data: { confirm: '削除してもよろしいですか？' }, id: 'delete_button', remote: true %>
    <% else %>
      <%= render 'likes/like_button', comment: comment %>
    <% end %>
    <span>  いいね </span><i id="js-like-count-for-comment-<%= comment.id %>"><%= comment.likes.count %>件</i>
  </div>
</li>
