<li class="comment mb-3", id="comment-<%= comment.id %>">
  <%= safe_join(comment.sentence.split("\n"), tag(:br)) %>
  <% if current_user&.own?(comment) %>
    <%= link_to '削除', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' }, id: 'delete_button', remote: true %>
  <% else %>
    <%= render 'likes/like_button', comment: comment %>
  <% end %>
  <i id="js-like-count-for-comment-<%= comment.id %>"><span> | いいね </span><%= comment.likes.count %>件</i>
</li>