<div class="news_record col-sm-6 offset-sm-3 col-lg-4 offset-lg-1 mb-5" style="width: 300;">
  <div class="card">
    <h5 class="card-title p-3">
      <%= link_to news["name"], news["url"], target: :_blank, rel: "noopener noreferrer" %>
    </h3>
    <% if news["image"] %>
      <%= image_tag news["image"]["thumbnail"]["contentUrl"], class: 'card-img-top', height: '250px' %>
    <% else %>
      <%= image_tag 'sorry_cat.png', class: 'card-img-top', height: '250px' %>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= news["description"].truncate(100) %></p>
      <div class="text-end"><%= news["datePublished"][0..18].gsub!("T", "-") %></div>
    </div>
  </div>
</div>
