<%= form_with(model: bug, local: true) do |form| %>
  <% if bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
        <% bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :feature %>
    <%= form.text_area :feature %>
  </div>

  <div class="field">
    <%= form.label :approach %>
    <%= form.text_area :approach %>
  </div>

  <div class="field">
    <%= form.label :prevention %>
    <%= form.text_area :prevention %>
  </div>

  <div class="field">
    <%= form.label :harm %>
    <%= form.text_area :harm %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.number_field :color %>
  </div>

  <div class="field">
    <%= form.label :seazon %>
    <%= form.number_field :seazon %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
