<!-- Button trigger modal -->
<%= link_to '#', class: 'nav-link', 'data-bs-toggle': :modal, 'data-bs-target': '#ImageSearchModal' do %>
  <i class="fas fa-camera"></i><span> 画像検索</span>
<% end %>
<!-- Modal -->
<div class="modal fade" id="ImageSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">画像検索をする</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <%= form_with url: image_search_bugs_path, method: :post, local: true do |f| %>
                <div class="form-group mb-3">
                  <p style="color: red;">※ファイル形式は`png`か`jpeg`でお願いします。</p>
                  <%= f.file_field :image, class: 'form-control', id: 'input_image', accept: 'image/png, image/jpeg' %>
                </div>
                <div class="mb-3">
                  <%= image_tag '', id: 'image_preview', style: 'display: none;' %>
                </div>
                <div class="actions mb-3">
                  <%= f.submit '検索する', class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

