<% content_for(:title, @bug.name) %>
<div class="container bug_show my-5 p-4">
  <div class="row">
    <div class="col-12">
      <h2 class="bug-titile mb-4 pb-2 border-bottom border-dark"><%= @bug.name %></h2>
      <div class="line-one col-12 mb-5">
        <div class="bug_image_contents mb-3">
          <% if @bug.image.attached? %>
            <%= image_tag @bug.image, height: '250px', class: "bug_show_image blur blur_#{@bug.id} blur_active border border-dark mb-1" %>
            <div>
              <button class="blur_button blur_button_<%= @bug.id %>" id="blur_button_show" value="<%= @bug.id %>"><i class="far fa-eye-slash"></i> モザイクを外してみる</button>
              <button class="hide_blur_button hide_blur_button_<%= @bug.id %> hide_button" id="no_blur_button_show" value="<%= @bug.id %>"><i class="far fa-eye"></i> やっぱりモザイクをつける</button>
            </div>
          <% else %>
             <%= image_tag 'sorry_cat.png', class: 'card-img-top show_image_size' %>
          <% end %>
        </div>
        <div class="radar_chart">
          <%= render 'radar_charts/radar_chart', bug: @bug, other_bug: @other_bug %>
        </div>
      </div>
      <div class="bug-text-contents">
        <%= render 'tab_menu', bug: @bug %>
      </div>
    </div>
  </div>
  <%= link_to '検索結果に戻る', :back %>
  <% if current_user&.own?(@bug) %> 
    | <%= link_to '編集', edit_bug_path(@bug) %> |
    <%= link_to '削除', bug_path(@bug), method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
  <% end %>
</div>
<div class="bug_comments container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 mb-5 p-3 comment_index">
      <h3 class="mb-3 pb-2 border-bottom border-dark">コメント一覧</h3>
      <div class="comment_order_button">
        <%= render 'comments/comments_sort', bug: @bug %>
      </div>
      <div class="comment-page">
        <%= render 'comments/comments', comments: @comments, current_ip: @current_ip %>
      </div>
    </div>
    <div class="col-sm-12 col-lg-5 offset-lg-1 mb-5 p-3 comment_new">
      <h3 class="mb-3 pb-2 border-bottom border-dark">コメント投稿</h3>
      <%= render 'comments/form', bug: @bug, comment: @comment, url: @url %>
    </div>
  </div>
</div>
