<div class="container">
  <div class="row">
    <h2>検索</h2>
    <div class="col-12">
      <%= form_with model: @search_bugs_form, scope: :search, url: @url, method: :get, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: '害虫の名前を入力してください。' %>
        </div>
    
        <div class="form-group mb-3">
          <%= f.label :search_word %>
          <%= f.text_field :search_word, class: 'form-control', placeholder: '2単語以上入力する場合はスペースを空けてください。', rows: 3%>
        </div>
    
      <div class="row">
        <div class="form-group mb-3 col-4">
          <%= f.label :size %>
          <%= f.select :size, Bug.sizes_i18n.invert, { include_blank: '選択してください' }, class: 'form-select' %>
        </div>
    
        <div class="form-group mb-3 col-4">
          <%= f.label :color %>
          <%= f.select :color, Bug.colors_i18n.invert, { include_blank: '選択してください' }, class: 'form-select' %>
        </div>
    
        <div class="form-group mb-3 col-4">
          <%= f.label :season %>
          <%= f.select :season, Bug.seasons_i18n.invert, { include_blank: '選択してください' }, class: 'form-select' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group mb-3 col-2 offset-1">
          <%= f.label :capture %>
          <%= f.select :capture, (1..10).map{ |n| [n]}, { include_blank: '指定なし' }, class: 'form-select' %>
        </div>

        <div class="form-group mb-3 col-2">
          <%= f.label :breeding %>
          <%= f.select :breeding, (1..10).map{ |n| [n]}, { include_blank: '指定なし' }, class: 'form-select' %>
        </div>

        <div class="form-group mb-3 col-2">
          <%= f.label :quickness %>
          <%= f.select :quickness, (1..10).map{ |n| [n]}, { include_blank: '指定なし' }, class: 'form-select' %>
        </div>

        <div class="form-group mb-3 col-2">
          <%= f.label :evil %>
          <%= f.select :evil, (1..10).map{ |n| [n]}, { include_blank: '指定なし' }, class: 'form-select' %>
        </div>

        <div class="form-group mb-3 col-2">
          <%= f.label :discomfort %>
          <%= f.select :discomfort, (1..10).map{ |n| [n]}, { include_blank: '指定なし' }, class: 'form-select' %>
        </div>
      </div>

      <div class="actions mb-3">
        <%= f.submit '検索する', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Back', bugs_path %>