<!DOCTYPE html>
<html>
  <head>
    <title><%= pages_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>

  <body>
    <%= header_if_static_controller %>
    <div class="<%= margin_if_static_controller %>">
      <%= flash_if_static_controller %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
